/* Global */
*{
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
}

/* Header */
.header-div{
    display: flex;
    align-items: center;
    background-color: #1F2937;
    color: #E5E7EB;
    height: 80px;
}
.hp1{
    margin-left: 180px;
    margin-right: 550px;
    font-size: 24px;
    color: white;
}
.hp2{
    margin-right: 20px;
}
.hp3{
    margin-right: 20px;
}

/* Main div section 1 */
.m1-div{
    height: 400px;
    display: flex;
    align-items: center;
    background-color: #1F2937;
}
.m1-div-container1{
    margin-left: 180px;
}
.m1-div h1{
    font-size: 48px;
    color: #F9FAF8;
}
.m1-div p{
    font: 18px;
    color: #E5E7EB;
}
.m1-div button{
    background-color: #3882F6;
    color: white;
    width: 110px;
    height: 30px;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
}
.img-plc{
    margin-left: 140px;
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
    width: 500px;
    height: 250px;
    background-color: #6e747d;
}

/* Main div section 2 */
.m2-div{
    height: 460px;
    display: flex;
    flex-direction: column;
    align-items: center;


}
.m2-div-container1{
    margin-top: 45px;
    margin-bottom: 45px;
    color: #1f2937

}
.m2-div-container2{
    display: flex;
    flex-direction: row;

}
.m2-div-container3{
    margin-top: 25px;
    margin-left: 5px;
    display: flex;
    flex-direction: row;
    justify-content: start;

     
}
.info-box{
    border-radius: 8px;
    width: 150px;
    height: 150px;
    margin-left: 35px;

    border: solid, 4px, #3c82f5; 

}
.info-text{
    width: 160px;
    height: 150px;
    margin-left: 35px;
    text-align: center;
    color: #58595a;

}
/* Main div section 3 */
.m3-div{
    height: 460px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
}
.m3-p1{
    margin-top: 130px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}
.m3-p2{
    font-size: 24px;
    font-weight: bold;
    margin-left: 500px;
}